.mob_nav {
  display: none;
}
.mob_close {
  display: none;
}
.mob_logo {
  display: none;
}
.mob_gnb {
  display: none;
}
/* header */
.header {
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 210px;
}
.header .logo {
  width: 140px;
  height: 140px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .logo img {
  padding-top: 20px;
}
.header .gnb {
  display: flex;
  margin-right: auto;
  font-size: 24px;
  margin-left: 101px;
}
.header .gnb a {
  display: block;
  padding: 0 26px;
  height: 90px;
  line-height: 90px;
}

.header .sub_wrap {
  width: 100%;
  height: 400px;
  background-color: #f5fafc;
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 5;
  display: none;
}
.header .sub_wrap .sub {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  gap: 100px;
  margin-top: 80px;
}
.header .sub_wrap .sub h1 {
  font-size: 48px;
  margin-top: 20px;
}
.header .sub_wrap ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}
.header .sub_wrap ul li {
  font-size: 24px;
  color: #666;
  height: 40px;
  line-height: 40px;
}
.header .sub_wrap ul li:hover {
  color: #2d72e1;
}
.header .search {
  border-bottom: 2px solid #eee;
  padding: 7px;
  cursor: pointer;
}
.header .search input {
  border: none;
  font-size: 10px;
}
.header .search input:focus {
  outline: none;
}
.header .nav {
  display: flex;
  gap: 15px;
  margin-left: 34px;
}
.header .nav img {
  width: 22px;
  height: 22px;
}
/* search */
.search_drop_down {
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: #f5fafc;
}
.search_drop_down .slide_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.search_drop_down .bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 60px;
  padding: 0 30px;
  margin-top: 40px;
}
.search_drop_down input {
  border: none;
  outline: none;
  font-size: 18px;
  padding-right: 300px;
}
.search_drop_down .btn {
  border: 1px solid #749cdb;
  border-radius: 22px;
  color: #749cdb;
  padding: 6px;
  cursor: pointer;
}
.search_drop_down .text {
}
.search_drop_down h1 {
  margin-bottom: 20px;
  font-size: 20px;
}
.search_drop_down ul {
  display: flex;
  gap: 8px;
  padding-bottom: 40px;
}
.search_drop_down li {
  background-color: #fff;
  border-radius: 110px;
  padding: 8px 12px;
  border: 1px solid #eee;
  color: #666;
}

/* footer */
.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1501px;
  margin: 0 auto;
  padding: 33px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.footer_top .f_gnb {
  display: flex;
  color: #666;
  gap: 40px;
}
.footer_top .f_nav {
  display: flex;
  align-items: center;
  color: #666;
  gap: 38px;
}
.footer_top .f_nav .sns {
  display: flex;
  gap: 16px;
  cursor: pointer;
}
.footer {
  background-color: #eef5fb;
  height: 200px;
}
.footer_wrap {
  width: 1501px;
  margin: 0 auto;
}
.footer .footer_wrap .f_info {
  display: flex;
  padding-top: 44px;
  gap: 36px;
}
.footer .footer_wrap .f_info .tel {
  color: #333;
}
.footer .footer_wrap .f_info .time {
  color: #666;
}
.footer_wrap .f_logo {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 22px;
}
.footer_wrap .copyright {
  font-size: 12px;
  color: #666;
}
