.nav_wrap {
  background-color: #eef5fb;
  margin-bottom: 80px;
}
.nav_wrap .nav_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  color: #999;
}
.nav_wrap ul {
  display: flex;
  gap: 14px;
}
.nav_wrap i {
  font-size: 16px;
}
.nav_wrap .nav i {
}
.nav_wrap li {
  display: block;
  height: 55px;
  line-height: 55px;
}
.nav_wrap .side_nav li:nth-child(2) {
  rotate: -45deg;
  margin-left: 4px;
}
/* title */
.title {
  width: 1501px;
  margin: 0 auto;
  text-align: center;
}
.title ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 90px;
  margin-bottom: 40px;
}
.title li {
  border: 1px solid #ccc;
  border-radius: 116px;
  padding: 0 18px;
  color: #999;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.title li.active {
  background-color: #0077cb;
  border-radius: 116px;
  padding: 0 18px;
  color: #fff;
  height: 36px;
  line-height: 36px;
}

.search_wrap {
  border: 1px solid #ccc;
  border-radius: 60px;
  width: 420px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.search_wrap input {
  border: none;
  padding-right: 80px;
  outline: none;
  font-size: 24px;
}
.search_wrap i {
  font-size: 24px;
}

/* hero */
.hero_wrap {
  margin-top: 40px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.hero_wrap .title_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.hero_wrap .title_wrap ul {
  display: flex;
  gap: 8px;
  color: #999;
  font-size: 14px;
  cursor: pointer;
}
.hero_wrap .title_wrap li.active {
  color: #222;
}
.hero .photo img {
  margin-bottom: 14px;
}
.hero ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  justify-content: center;
  gap: 20px;
}
.hero > ul > li:hover h1 {
  text-decoration: underline;
}
.hero > ul h1 {
  margin: 0 auto;
  line-height: 1.3;
  color: #666;
  height: 60px;
}
.hero .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.hero .icon li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero .page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 113px;
  cursor: pointer;
}
.hero .page p {
  background-color: #fff;
  border: 1px solid #999;
  padding: 0 10px;
  height: 28px;
  line-height: 25px;
}
.hero .page p.active {
  background-color: #333;
  color: #fff;
}
