.nav_wrap {
  background-color: #eef5fb;
}
.nav_wrap .nav_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  color: #999;
}
.nav_wrap ul {
  display: flex;
  gap: 14px;
}
.nav_wrap i {
  font-size: 16px;
}
.nav_wrap .nav i {
}
.nav_wrap li {
  display: block;
  height: 55px;
  line-height: 55px;
}
.nav_wrap .side_nav li:nth-child(2) {
  rotate: -45deg;
  margin-left: 4px;
}

/* hero */
.hero_wrap {
  width: 1300px;
  margin: 0 auto;
}
.hero_wrap .title h1 {
  text-align: center;
  margin: 60px 0 30px;
}
.hero_wrap .photo {
  margin-bottom: 10px;
}
.hero_wrap .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 43px;
}
.hero_wrap .info ul {
  display: flex;
  gap: 8px;
}
.hero_wrap .info li p {
  padding-left: 10px;
}
.hero_wrap .info li span {
  color: #f20e7c;
}
.hero_wrap .info ul li {
  display: flex;
}
.hero_wrap .info .fev {
  display: flex;
  gap: 8px;
  color: #666;
}
.hero_wrap .info .fev i {
  display: flex;
}
.hero_wrap .menu {
  display: flex;
  margin-bottom: 60px;
}
.hero_wrap .menu li {
  display: block;
  padding: 0 110px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.hero_wrap .menu li.active {
  border-bottom: 4px solid #7328a5;
}
.hero > h1 {
  margin: 20px 0;
}
.hero p {
  color: #666;
  line-height: 1.4;
}
.hero .photo {
  margin: 20px 0 40px;
  display: flex;
  gap: 20px;
}

/* map */
.map h1 {
  margin: 40px 0;
}

/* course */
.course {
  margin: 40px 0;
}
.course > ul {
  display: flex;
  flex-direction: column;
}
.course .photo {
  margin-right: 20px;
}
.course > ul > li a {
  display: flex;
  margin-bottom: 20px;
}
.course p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.4;
  width: 1130px;
  margin: 12px 0 59px;
  font-size: 15px;
  color: #666;
}
.course .text h1 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.course .text h1 span {
  color: #fff;
  background-color: #0593d2;
  border-radius: 100px;
  padding: 2px 6px;
}
.course .tag {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 1110px;
}
.course li:hover p {
  text-decoration: underline;
}

/* use_info */
.use_info {
  margin-bottom: 80px;
}
.use_info h1 {
  margin-bottom: 30px;
}
.use_info p {
  color: #666;
}
.use_info .item_wrap {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 40px 50px 140px 50px;
}
.use_info .item1 {
  padding-right: 31px;
  border-right: 1px solid #ccc;
}
.use_info .item1 .adress {
  display: flex;
}
.use_info .item1 .adress li {
  width: 370px;
  color: #666;
  line-height: 1.8;
}
.use_info .item1 h1,
.use_info .item2 h1 {
  width: 200px;
  font-size: 24px;
}
.use_info .item1 .time {
  display: flex;
  margin-top: 72px;
}
.use_info .item2 {
  padding: 0 40px;
}
.use_info .item2 .holiyday {
  display: flex;
}
.use_info .item2 .price {
  display: flex;
  margin-top: 72px;
}

/* hash */
.hash {
  margin-bottom: 80px;
}
.hash h1 {
  margin-bottom: 30px;
}
.hash ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 2px;
}
.hash li {
  display: block;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 6px 10px;
  color: #999;
  cursor: pointer;
}
.hash li:hover {
  background-color: #0593d2;
  color: #fff;
}

/* travel */
.travel {
  margin-bottom: 80px;
}
.travel h1 {
  margin-bottom: 40px;
}
.travel ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.travel li {
  text-align: center;
}
.travel figcaption {
  padding: 10px 0 16px;
}
.travel figure figcaption:hover {
  text-decoration: underline;
}
