.nav_wrap {
  background-color: #eef5fb;
}
.nav_wrap .nav_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  color: #999;
}
.nav_wrap ul {
  display: flex;
  gap: 14px;
}
.nav_wrap i {
  font-size: 16px;
}
.nav_wrap .nav i {
}
.nav_wrap li {
  display: block;
  height: 55px;
  line-height: 55px;
}
.nav_wrap .side_nav li:nth-child(2) {
  rotate: -45deg;
  margin-left: 4px;
}

/*  hero */
.hero_wrap {
  width: 1250px;
  margin: 0 auto;
}
.hero {
  margin: 120px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0 15px 15px 0;
}
.hero .photo {
  width: 900px;
  height: 580px;
  margin-left: -2px;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login_wrap {
  padding: 30px;
  padding-right: 40px;
}
.login_wrap h1 {
  padding: 6px 0 60px;
}
.login_wrap ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.login_wrap li a {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  border-radius: 8px;
  cursor: pointer;
}
.login_wrap li p {
  height: 54px;
  line-height: 54px;
  font-size: 18px;
}
.login_wrap li img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}
.login_wrap li:nth-child(1) {
  background-color: #ffdf01;
  color: #47292b;
}
.login_wrap li:nth-child(2) {
  background-color: #de4837;
  color: #fff;
}
.login_wrap li:nth-child(3) {
  background-color: #4367b1;
  color: #fff;
}
.login_wrap li:nth-child(4) {
  background-color: #34a734;
  color: #fff;
}
.login_wrap li:nth-child(5) {
  background-color: #059830;
  color: #fff;
}
.login_wrap li:nth-child(6) {
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_wrap li:nth-child(6) img {
  filter: invert();
  width: 30px;
  height: 30px;
  margin-left: 14px;
  margin-top: 6%;
}
